.box1 {
  width: 580px;
  height: 650px;
  background: url("../../../public/image/project1.png");
  /* background-color: brown; */
  transition: ease-in-out 12s;
  background-size: cover;
  background-position: top;
}

.box1:hover {
  background-position: bottom;
}
.box2 {
  width: 580px;
  height: 650px;
  background: url("../../../public/image/project2.png");
  /* background-color: brown; */
  transition: ease-in-out 12s;
  background-size: cover;
  background-position: top;
}

.box2:hover {
  background-position: bottom;
}
.box3 {
  width: 580px;
  height: 650px;
  background: url("../../../public/image/project_3.jpg");
  /* background-color: brown; */
  transition: ease-in-out 12s;
  background-size: cover;
  background-position: top;
}

.box3:hover {
  background-position: bottom;
}
.box4 {
  width: 580px;
  height: 650px;
  background: url("../../../public/image/project_4.jpg");
  /* background-color: brown; */
  transition: ease-in-out 12s;
  background-size: cover;
  background-position: top;
}

.box4:hover {
  background-position: bottom;
}

.scroll-down {
  animation: goDown 3s infinite;
}

@keyframes goDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(40px);
  }
}

@media only screen and (max-width: 426px) {
  .box1,
  .box2,
  .box3,
  .box4 {
    width: 300px !important;
    /* height: 230px; */
  }
}
