.box1 {
  width: 580px;
  height: 600px;
  background: url("../../../public/image/project1.png");
  /* background-color: brown; */
  transition: ease-in-out 12s;
  background-size: cover;
  background-position: top;
}

.box1:hover {
  background-position: bottom;
}
.box2 {
  width: 580px;
  height: 600px;
  background: url("../../../public/image/project2.png");
  /* background-color: brown; */
  transition: ease-in-out 12s;
  background-size: cover;
  background-position: top;
}

.box2:hover {
  background-position: bottom;
}

.scroll-down {
  animation: goDown 3s infinite;
}

@keyframes goDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(40px);
  }
}


@media only screen and (max-width: 450px) {
    .box1 .box2{
      width: 300px;
      height: 230px; 
     }
  }